---
import '@unocss/reset/tailwind.css';
import '@styles/global.css';
import SEO, { type Props as SEOProps } from '@components/SEO.astro';

export interface Props {
  seo: SEOProps;
}

const { seo }: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...seo} />
  </head>
  <body>
    <slot />
  </body>
</html>
